server:
  port: 9090
  forward-headers-strategy: framework

spring:
  application:
    name: Vocabulary API
  datasource:
    url: jdbc:postgresql://localhost:25432/vocabulary_api
    username: enrico
    password: enrico
  data:
    web:
      pageable:
        max-page-size: 2147483647

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:18081/realms/vocabulary
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs


  # Database Flyway migrations
  flyway:
    locations: classpath:/db/migration
    schemas: vocabulary
application:

  # CORS configuration
  cors:
    allowed-origins: http://localhost:4200
  api:
    version: v1
    description: ${spring.application.name}
    base-path: /api/${application.api.version}/vocabulary
    admin-path: ${application.api.base-path}/admin
    user-path: ${application.api.base-path}/user
    authenticated-path: ${application.api.base-path}/authenticated
    public-path: ${application.api.base-path}/public




token:
  converter:
    principal-attribute: preferred_username
    resource-id: vocabulary-api

