<included>

  <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/app/logs/vocabulary-api.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>/app/logs/vocabulary-api.%d{yyyy-MM-dd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
      <totalSizeCap>2GB</totalSizeCap>
    </rollingPolicy>

    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %-5level %logger{36}.%method:%line - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="APP_FILE"/>
    <appender-ref ref="CONSOLE"/>
  </root>

  <logger name="org.springframework" level="INFO"/>
  <logger name="org.enricogiurin.vocabulary.api.security.KeycloakJwtTokenConverter" level="ERROR"/>
  <logger name="org.enricogiurin.vocabulary.api" level="DEBUG"/>

</included>
